* {
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Yeseva One', cursive; */
  background: #e5e5e5;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  background-color: #ffad5a;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  letter-spacing: 1px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}
.title h2 {
  color: #13103a;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 37px;
  font-family: 'Poppins';
}

.title span {
  color: #ff5959;
}
/* Basic Css Added */

#hero_top {
  margin-bottom: 70px;
}
.hero_top_flexBox {
  display: flex;
}
.hero_top_flexBox_left {
  width: 50%;
  margin-top: 12%;
}

.hero_top_flexBox_left h1 {
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  font-size: 51px;
  text-transform: capitalize;
  color: #333333;
  border-left: 4px solid #ffad5a;
  margin-bottom: 25px;
  padding-left: 9px;
}

.hero_top_flexBox_left h1 span {
  color: #ff5959;
}

.hero_top_flexBox_left p {
  color: #3e3e3e;
  width: 486px;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.hero_top_flexBox_left small {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #434343;
  margin-top: 24px;
}

.hero_top_flexBox_right {
  width: 50%;
  text-align: center;
}
.hero_top_flexBox_right img {
  width: 60%;
}

/* HERO TOP CSS END */

#my_dream {
  margin-bottom: 70px;
}

.my_dream_flexBox {
  display: flex;
  justify-content: space-between;
}

.my_dream_flexBox div {
  width: 31%;
  height: auto;
  border-radius: 15px;
  padding: 1.5% 3%;
}

.my_dream_flexBox img {
  display: block;
  width: 60%;
}
.my_dream_flexBox div h3 {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-top: 10px;
  text-transform: capitalize;
}

.my_dream_flexBox div p {
  font-size: 16px;
  margin-top: 20px;
  font-family: 'Poppins';
  font-weight: 400;
  color: #424242;
}
.my_dream_left {
  background-color: #edf5f7;
}
.my_dream_middle {
  background-color: #feeeee;
}
.my_dream_right {
  background-color: #fff4d6;
}

/* MY DREAM PART CSS END */

#noLimit_dev {
  margin-bottom: 70px;
  background-image: url('../images/shapes/shape-1.png');
  background-repeat: no-repeat;
  background-position: 4%;
  background-size: 14%;
}

.noLimit_dev_flexBox {
  display: flex;
  align-items: center;
}

.noLimit_dev_left {
  width: 50%;
}

.noLimit_dev_left img {
  width: 400px;
  height: 400px;
  border-radius: 40px;
}
.noLimit_dev_right {
  width: 50%;
}

.noLimit_dev_right h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 0.5rem;
}

.noLimit_dev_right p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #3e3e3e;
}

.noLimit_dev_right .btn {
  margin-top: 1.5rem;
}
/* NO LIMIT CSS END */

#our_community {
  margin-bottom: 70px;
  background-image: url('../images/shapes/shape-1.png');
  background-repeat: no-repeat;
  background-position: 95% 95%;
  background-size: 14%;
  padding-bottom: 5%;
}

.our_community_flexBox {
  display: flex;
  align-items: center;
}
.our_community_right {
  width: 50%;
  text-align: end;
}
.our_community_right img {
  width: 400px;
  height: 400px;
  border-radius: 40px;
}

.our_community_left {
  width: 50%;
}
.our_community_left h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 0.5rem;
}

.our_community_left p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #3e3e3e;
}

.our_community_left .btn {
  margin-top: 1.5rem;
}
/* COMMUNITY CSS END */

#footer {
  text-align: center;
  padding: 20px 0;
  background-color: #0b0d17;
}

#footer h2 {
  color: #e5e5e5;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}
#footer h2 span {
  color: #ffad5a;
}

#footer p {
  color: #d9dbe1;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 1rem;
}
